<div class="ui secondary  menu">
    <a style="font-size:19px;" href="/" class="active item">
      Home
    </a>
    <a style="font-size:19px;" href="/register" class="item">
      Register
    </a>
    <a style="font-size:19px;" href="/login" class="item">
      Login
    </a>
    <div class="right menu">          
    </div>
</div>